@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  min-height: 100%;
  background-color: #F6F6F7;
}
div{
  font-family: Inter, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/*config antd*/
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: white;
  border-color: #18A0FB;
}
.ant-checkbox-checked .ant-checkbox-inner:after {
  border-color: #18A0FB !important;
}